# Java 
*.class
*.jar
*.war
*.ear
*.log
## Generated Docs
doc*/

## BlueJ
*.ctxt
*.bluej

## Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

## Eclipse
.metadata
.classpath
.project
.settings/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath

## Extra
.vscode/
.vs/
build/
*.zip
*.tar
*.gz